<section>
    <div class="signup">
        <span>Sign up Here</span>
        <form class="signup_form">
            <input type="text" name="first_Name" id="first_Name" placeholder="Your First Name">
            <input type="text" name="last_Name" id="last_Name" placeholder="Your Last Name">
            <input type="text" name="email" id="email" placeholder="Your Email">
            <input type="text" name="password" id="password"placeholder="Your Password">
             <span class="message">{{msg}}</span>
             <button class="signup_btn">Sign Up</button>
             <span>if you login before it <a href="/login">Login</a></span>
        </form>
    </div>
</section>